/*1200-1024(64rem)-768(48rem)-480(30rem)*/
/*min-width: 0rem)*/
/*1024-1199 */
@media(max-width: 74.99rem) {

    #menu {
        max-width: 54rem;
    }

    /*-------------------------FLAGS------------------------*/
    .flags nav {
        max-width: 59rem;
    }

    /* ---------------------------------------------- */
    .net {
        right: 2%;
    }

    /* ---------------------------------------------- */
    #firstSec {
        padding: 12rem 4rem 13rem 4rem;
    }

    .aboutMe-info p {
        width: 28rem;
    }

    /* ---------------------------------------------- */
    #secondSec {
        padding: 2rem 4rem 3rem 4rem;
    }

    .education {
        gap: 4rem;
    }

    .education img {
        width: 20%;
    }

    /* ---------------------------------------------- */
    #thirdSec {
        padding: 2rem 4rem 3rem 4rem;
    }

    .experience {
        gap: 2rem;
    }

    .company {
        gap: 1rem;
    }

    .company img {
        width: 40%;
        max-width: 12.5rem;
    }

    .info p {
        width: 24rem;
    }

    /* ------------------------------------------- */
    #fourthSec {
        height: auto;
        background-color: #323232;
        padding: 2rem 2rem 3rem 2rem;
    }

    .projects {
        width: 100%;
    }

    .button {
        height: 18rem;
        width: 18rem;
    }

    #contacts {
        padding: 4rem 4rem;
    }

    #contacts .contacts-container {
        max-width: 50rem;
    }

    .form-sides {
        justify-content: space-evenly;
    }

    .form input,
    textarea {
        width: 100%;
    }

    .form button {
        padding: 1.14rem;
    }
}

/*768 a 1023 */
@media(max-width: 63.99rem) {
    #menu {
        display: none;
    }

    /*-------------------------FLAGS------------------------*/

    .flags {
        width: 100%;
        right: 0%;
    }

    .flags ul {
        justify-content: center;
        gap: .3rem;
    }

    .flags svg {
        width: 100%;
        height: 2rem;
        display: flex;
        transition: ease-in-out .2s;
    }

    /*-------------------------COLUMN------------------------*/

    .net {
        display: none;
    }

    /*-------------------------------------------------*/

    #firstSec {
        height: 100%;
        padding: 4rem;
    }

    .aboutMe-container {
        flex-direction: column;
        gap: 2rem;
    }

    .aboutMe-container img {
        width: 40%;
        min-width: 19rem;
    }

    .aboutMe-info {
        align-items: center;
    }

    .aboutMe-container p {
        text-align: justify;
    }

    /* ------------------------------------------ */
    #secondSec {
        padding: 4rem 4rem;
    }

    .education {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .education div {
        align-items: center;
    }

    .education:hover {
        transform: scale(1.05);
    }

    .education img {
        width: 30%;
    }

    .education h1 {
        text-align: center;
        margin-bottom: 0;
    }

    .education h2 {
        text-align: center;
    }

    .education h3 {
        text-align: center;
        max-width: 30rem;
    }

    .education p {
        text-align: center;
    }

    /* ------------------------------------------ */
    #thirdSec {
        padding: 4rem 4rem;
    }

    .experience {
        flex-direction: column;
        gap: 1.5rem;
    }

    .company img {
        width: 30%;
    }

    .company {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    .info {
        align-items: center;
        text-align: center;
        font-size: 1.6em;
        width: 23rem;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        padding: 2rem 4rem 3rem 4rem;
    }

    .projects {
        width: 100%;
    }

    .button {
        height: 12rem;
        width: 12rem;
    }

    /* ---------------------------------------- */
    #contacts {
        padding: 4rem 4rem 1.5rem 4rem;
        flex-direction: column;
        gap: 2rem;
    }


    .form {
        max-width: 30rem;
    }

    .form-sides {
        flex-direction: column !important;
        justify-content: center;

    }

    .up {
        flex-direction: column;
        align-self: center;
        width: 100%;
        gap: 0rem;
    }

    .up div {
        display: flex;
        flex-direction: column;
    }

    .form input,
    textarea {
        width: unset;
    }

    .down {
        width: 100%;
        align-self: center;
        max-width: unset;
    }

    .form textarea {
        min-height: 10rem
    }

    #contacts ul {
        width: 100%;
        display: flex;
        max-width: 30rem;
        justify-content: space-between;
    }

    .form button {
        padding: .5rem;
    }

    #contacts ul li a {
        animation: svg-transition 4s ease-in-out alternate infinite;
    }

    svg {
        fill: #444444;
        animation: svg-color-transition 4s ease-in-out alternate infinite;
    }

    @keyframes svg-transition {
        0% {
            transform: translateY(4px);
        }

        50% {
            transform: translateY(-4px);
        }

        100% {
            transform: translateY(4px);
        }

    }

    @keyframes svg-color-transition {
        0% {
            fill: var(--darkGreen);
        }

        48% {
            fill: var(--green);
        }

        52% {
            fill: var(--green);
        }

        100% {
            fill: var(--darkGreen);
        }
    }
}

/*480 a 767 */
@media (max-width: 47.99rem) {
    #menu {
        display: none;
    }

    #firstSec {
        padding: 4rem;
    }
    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 100%;
            max-width: 22.4rem;
        }
    }
    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-container img {
        width: 70%;
    }

    .aboutMe-container:hover {
        transform: none;
    }

    .aboutMe-container h1 {
        text-align: center;
    }

    .aboutMe-container p {
        text-align: justify;
        width: auto;
        max-width: 30rem;
    }

    /* --------------------------------------- */
    #secondSec {
        padding: 4rem;
        height: auto;
    }

    .education:hover {
        transform: none;
    }

    .education img {
        width: 50%;
        max-width: 18rem;
    }

    .education div {
        align-items: center;
    }

    /* ------------------------------------ */
    #thirdSec {
        padding: 4rem;
        height: auto;
    }

    .experience {
        align-self: center;
    }

    .company {
        flex-direction: column;
        align-items: center;
    }

    .company:hover {
        transform: none;
    }

    .company img {
        width: 50%;
        max-width: 35rem;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        padding: 4rem;
    }

    .projects {
        display: none;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .button {
        height: 11rem;
        width: 11rem;
    }

    /* ---------------------------------------- */
    #contacts {
        height: auto;
        padding: 4rem 4rem 1.5rem 4rem;
    }

    #contacts ul li a {
        padding: .6rem .5rem;
    }

    #contacts ul li a:hover {
        transform: none;
    }

    svg {
        fill: #14FFEC;
    }
}

/*0 a 479*/
@media (max-width: 29.99rem) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.3rem;
    }
    
    #menu {
        display: none;
    }

    #firstSec {
        padding: 4rem 2rem;
    }

    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 100%;
            max-width: 19rem;
        }
    }
    
    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-container:hover {
        transform: none;
    }

    .aboutMe-container img {
        width: 80%;
        min-width: 18rem;
    }

    .aboutMe-info h1 {
        text-align: center;
        margin-bottom: 1rem;
        width: 100%;
    }

    .aboutMe-info p {
        width: 100%;
        text-align: justify;
        white-space: wrap;
    }

    /* --------------------------------------- */
    #secondSec {
        padding: 3rem 2rem;
        height: auto;
    }

    .education {
        flex-direction: column;
        justify-content: center;
        gap: 0rem;
    }

    .education:hover {
        transform: none;
    }

    .education img {
        width: 60%;
    }

    .education div {
        align-items: center;
    }

    .education p {
        text-align: center;
        margin-bottom: 1rem;
    }

    /* ------------------------------------ */
    #thirdSec {
        height: auto;
        padding: 3rem 2rem;
    }

    .thirdSec-container {
        gap: 2rem;
    }

    .experience {
        width: 100%;
        gap: 2rem;
        margin: auto;
    }

    .company img {
        width: 70%;
        min-width: 10rem;
        max-width: 15rem;
    }

    .company {
        gap: 1rem;
    }

    .info {
        width: 100%;
    }

    .info p {
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        height: auto;
        padding: 2rem 2rem;
    }

    .projects {
        display: none;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .button {
        height: 15rem;
        width: 15rem;
    }

    .button:hover {
        transform: none;
    }

    /* ---------------------------------------- */
    #contacts {
        padding: 3rem 2rem 1.5rem 2rem;
        height: auto;
    }
}

@media (max-width: 17.5rem) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.3rem;
    }
    #firstSec {
        padding: 4rem 1rem;
    }
    #secondSec {
        padding: 2rem 1rem;
    }
    #thirdSec {
        padding: 2rem 1rem;
    }
    #contacts {
        padding: 2rem 1rem .5em 1rem;
    }
    .title{
        word-wrap: break-word;
    }
    .aboutMe-container img {
        width: 80%;
        min-width: 15rem;
    }
    .aboutMe-info h1 {
        white-space: wrap;
    }
    #contacts ul li a {
        padding: .6rem .2rem;
    }
}