/*1200-1024(64rem)-768(48rem)-480(30rem)*/
/*min-width: 0rem)*/
/*1024-1199 */
@media(max-width: 74.99rem) {

    #menu {
        max-width: 54rem;
    }

    /*-------------------------FLAGS------------------------*/
    .flags nav {
        max-width: 60.4rem;
    }

    /* ---------------------------------------------- */
    .net {
        right: 2%;
    }

    /* ---------------------------------------------- */
    #firstSec {
        padding: 12rem 2rem 13rem 2rem;
    }

    .aboutMe-info p {
        width: 28rem;
    }

    /* ---------------------------------------------- */
    #secondSec {
        padding: 2rem 2rem 3rem 2rem;
    }

    .education {
        gap: 4rem;
    }

    .education img {
        width: 20%;
    }

    /* ---------------------------------------------- */
    #thirdSec {
        padding: 2rem 2rem 3rem 2rem;
    }

    .experience {
        flex-direction: column;
        gap: 2rem;
    }

    .company {
        justify-content: center;
        gap: 1rem;
    }

    .company img {
        width: 20%;
    }

    .info p {
        width: 24rem;
    }

    /* ------------------------------------------- */
    #fourthSec {
        height: auto;
        background-color: #323232;
        padding: 2rem 2rem 3rem 2rem;
    }

    .projects {
        width: 100%;
    }

    .button {
        height: 18rem;
        width: 18rem;
    }

    #contacts {
        padding: 4rem 2rem;
    }
}

/*768 a 1023 */
@media(max-width: 63.99rem) {
    #menu {
        display: none;
    }

    /*-------------------------FLAGS------------------------*/

    .flags {
        width: 100%;
        right: 0%;
    }

    .flags ul {
        justify-content: center;
        gap: .3rem;
    }
    .flags svg{
        width: 100%;
        height: 2rem;
        display: flex;
        transition: ease-in-out .2s;
    }
    /*-------------------------COLUMN------------------------*/

    .net {
        display: none;
    }

    #firstSec {
        padding: 4rem 2rem;
    }

    .aboutMe-container {
        flex-direction: column;
        gap: 2rem;
    }

    .aboutMe-container img {
        width: 40%;
    }

    .aboutMe-container h1 {
        text-align: center;
    }

    .aboutMe-container p {
        text-align: justify;
    }

    /* ------------------------------------------ */
    #secondSec {
        padding: 4rem 2rem;
    }

    .education {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .education:hover {
        transform: scale(1.05);
    }

    .education img {
        width: 28%;
    }

    .education h1 {
        text-align: center;
        margin-bottom: 0;
    }

    .education h2 {
        text-align: center;
    }

    .education p {
        text-align: center;
    }

    /* ------------------------------------------ */
    #thirdSec {
        padding: 4rem 2rem;
    }

    .experience {
        flex-direction: column;
        gap: 1.5rem;
    }

    .company img {
        width: 28%;
    }

    .company {
        gap: 1rem;
        justify-content: center;
    }

    .info {
        font-size: 1.6em;
        width: 23rem;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        padding: 2rem 4rem 3rem 4rem;
    }

    .projects {
        width: 100%;
    }

    .button {
        height: 12rem;
        width: 12rem;
    }

    /* ---------------------------------------- */
    #contacts {
        padding: 4rem 2rem 1rem 2rem;
    }

    #contacts div {
        max-width: 100%;
        justify-content: space-between;
        gap: 3rem;
    }

    #contacts ul {
        display: flex;
    }

    #contacts ul li a {
        font-size: 1em;
    }

    svg {
        fill: #14FFEC;
    }
}

/*480 a 767 */
@media (max-width: 47.99rem) {
    #menu {
        display: none;
    }

    #firstSec {
        padding: 9rem 2rem;
    }

    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-container img {
        width: 70%;
    }

    .aboutMe-container:hover {
        transform: none;
    }

    .aboutMe-container h1 {
        text-align: center;
    }

    .aboutMe-container p {
        text-align: justify;
        width: auto;
    }

    /* --------------------------------------- */
    #secondSec {
        padding: 4rem 2rem;
        height: auto;
    }

    .education:hover {
        transform: none;
    }

    .education img {
        width: 50%;
    }

    .education div {
        align-items: center;
    }

    /* ------------------------------------ */
    #thirdSec {
        padding: 4rem 2rem;
        height: auto;
    }

    .company {
        max-width: 30rem;
        flex-direction: column;
        align-items: center;
    }

    .company:hover {
        transform: none;
    }

    .company img {
        width: 50%;
    }

    .info {
        align-items: center;
        text-align: center;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        padding: 2rem 2rem 3rem 2rem;
    }

    .projects {
        display: none;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .button {
        height: 11rem;
        width: 11rem;
    }

    /* ---------------------------------------- */
    #contacts {
        height: auto;
        padding: 3rem 2rem 1rem 2rem;
    }

    #contacts div {
        max-width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    #contacts ul {
        width: 100%;
        gap: 0rem;
        justify-content: space-between;
    }

    #contacts ul li a {
        font-size: .9em;
        padding: .6rem 1rem;
    }

    #contacts ul li a:hover {
        transform: none;
    }

    svg {
        fill: #14FFEC;
    }
}

/*0 a 479*/
@media (max-width: 29.99rem) {
    #menu {
        display: none;
    }

    #firstSec {
        padding: 4rem 2rem;
    }

    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-container:hover {
        transform: none;
    }

    .aboutMe-container img {
        width: 80%;
    }

    .aboutMe-container h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        width: auto;
    }

    .aboutMe-container p {
        width: auto;
        font-size: 1.3rem;
        text-align: justify;
    }

    /* --------------------------------------- */
    #secondSec {
        padding: 3rem 2rem;
        height: auto;
    }

    .education {
        flex-direction: column;
        justify-content: center;
        gap: 0rem;
    }

    .education:hover {
        transform: none;
    }

    .education img {
        width: 60%;
    }

    .education div {
        align-items: center;
    }

    .education h1 {
        font-size: 2em;
        margin-bottom: 0rem;
    }

    .education h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .education p {
        font-size: 1.3rem;
        text-align: center;
    }

    /* ------------------------------------ */
    #thirdSec {
        height: auto;
        padding: 3rem 2rem;
    }

    .thirdSec-container {
        gap: 2rem;
    }

    .experience {
        width: 100%;
        gap: 2rem;
        margin: auto;
    }

    .company img {
        width: 60%;
    }

    .company {
        gap: 1rem;
    }

    .info {
        width: 100%;
    }

    .info p {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
    }

    /* ---------------------------------------- */
    #fourthSec {
        display: none;
        height: auto;
        padding: 2rem 2rem;
    }

    .projects {
        display: none;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .button {
        height: 15rem;
        width: 15rem;
    }

    .button:hover {
        transform: none;
    }

    /* ---------------------------------------- */
    #contacts {
        padding: 3rem 2rem 1rem 2rem;
        height: auto;
    }

    #contacts div {
        max-width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    #contacts ul {
        display: flex;
        gap: 0rem;
    }

    #contacts ul li a {
        text-align: center;
        font-size: auto;
        width: 100%;
        padding: .5;
    }

    svg {
        fill: #14FFEC;
    }

    #contacts ul li a:hover {
        transform: none;
    }
}