@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
}

span {
    color: #14FFEC
}

html {
    scroll-behavior: smooth;
}

.max_width {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    display: flex;
    justify-content: center;
}

/*---------------------SCROLL BAR---------------------*/
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #14FFEC;
    border-radius: 1rem;
}

/*---------------------HEADER---------------------*/
#menu {
    width: 62.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3rem;
    position: fixed;
    z-index: 1;
    background-color: rgb(20, 255, 236, .6);
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0rem 1rem 1.1rem -1rem rgb(0, 0, 0);
}

#menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin: 0rem 1rem;
}

#menu a {
    text-decoration: none;
    position: relative;
    padding: .8rem;
    color: rgb(0, 0, 0);
    transition: .5s;
    border-radius: 1rem;
    font-weight: 600;
}

#menu a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

/*-------------------------FLAGS------------------------*/

.flags {
    width: 100%;
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: center;
}

.flags nav {
    width: 100%;
    max-width: 70rem;
}

.flags ul {
    display: flex;
    list-style: none;
}

.flags a {
    display: flex;
    justify-content: center;
    margin: .5rem .3rem;
}

.flags svg {
    width: 100%;
    height: 2rem;
    display: flex;
    transition: ease-in-out .1s;
}

.flags .pt svg {
    opacity: 0.6;
}

.flags .pt svg:hover {
    opacity: 1;
}

/*-------------------------COLUMN------------------------*/
.net {
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    right: 5%;
    z-index: 1;
}

.net ul {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.net ul li {
    display: flex;
    list-style: none;
}

.net ul li a {
    border: .125rem solid transparent;
    border-radius: 1rem;
    display: flex;
    padding: .6rem;
    transition: ease-in-out .2s;
    outline: none;
}

.net ul li a:hover {
    transform: translateY(-5px);
}

.net svg {
    fill: #fff;
    opacity: .2;
}

.net a:hover svg {
    opacity: 1;
    fill: #14FFEC;
}

/*---------------------FIRST SECTION---------------------*/
#firstSec {
    width: 100%;
    overflow: hidden;
    background-color: #111111;
    padding: 14rem 12rem 15rem 12rem;
}

.aboutMe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: .3s;
}

.aboutMe-container:hover {
    transform: scale(1.05);
}

.aboutMe-container img {
    width: 35%;
    max-width: 22rem;
    border-radius: 50%;
    border: 0.3rem solid #14FFEC;
}

.aboutMe-info {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.aboutMe-info h1 {
    color: #14FFEC;
}

.aboutMe-info p {
    text-align: justify;
    width: 31.25rem;
}

/*---------------------SECOND SECTION---------------------*/
#secondSec {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #031e1b;
    padding: 3rem 12rem 5rem 12rem;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
}

.secondSec-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: .3s;
}

.education:hover {
    transform: scale(1.05);
}

.education img {
    width: 25%;
    min-width: 13.5rem;
    max-width: 15.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0.3rem solid #14FFEC;
}

.education div {
    display: flex;
    flex-direction: column;
}

.education span {
    color: #fff;
}

.education h3 {
    color: #14FFEC;
}

.education p {
    margin-bottom: 2rem;
}

/*---------------------THIRD SECTION---------------------*/

#thirdSec {
    display: flex;
    height: auto;
    background-color: #171717;
    justify-content: center;
    padding: 3rem 12rem 4rem 12rem;
}

.thirdSec-container {
    flex-direction: column;
    gap: 2rem;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
}

.experience {
    display: flex;
    gap:6rem
}

.company {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    transition: .3s;
}

.company:hover {
    transform: scale(1.05);
}

.company img {
    width: 56%;
    min-width: 13.5rem;
    max-width: 15.5rem;
    border: 0.3rem solid #14FFEC;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.info p {
    width: 24rem;
}

.company span {
    font-weight: 600;
}

/*---------------------FOURTH SECTION---------------------*/
#fourthSec {
    height: auto;
    background-color: #323232;
    padding: 3rem 6rem 4rem 6rem;
}

.fourthSec-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.title {
    text-align: center;
}

#fourthSec h2 {
    color: rgba(255, 255, 255, 0.5);
}

.projects {
    width: 74rem;
    display: flex;
    justify-content: space-evenly;
}

.button {
    height: 20rem;
    width: 20rem;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid #14FFEC;
    border-radius: 20%;
    transition: .3s;
}

.button:hover {
    transform: scale(1.05);
}

.button img {
    width: 80%;
}

/*---------------------CONTACTS---------------------*/
#contacts {
    width: 100%;
    height: auto;
    padding: 3rem 12rem;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts .contacts-container {
    display: flex;
    width: 100%;
    max-width: 57rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-sides {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.left div {
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form label,
input,
textarea,
button {
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.form label {
    padding: .5rem 0rem;
}

.form input,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #14FFEC;
    background-color: #ffffff20;
    border-radius: 1rem;
    border: .15rem solid transparent;
    text-decoration: none;
}

.form textarea {
    min-height: 13rem;
    width: 100%;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #14FFEC;
    box-shadow: 0 0 .5rem .2rem #ffffff1a;
}

.form button {
    margin-top: 1rem;
    color: #ffffff;
    padding: 1.1rem;
    background-color: #14ffeb4d;
    border-radius: 1rem;
    transition: .3s;
}

.form button:hover,
button:hover {
    outline: none;
    background-color: #14ffeba6;
    box-shadow: 0 0 .5rem .2rem #ffffff0e;
    color: #fff;
}

#contacts .title {
    color: rgba(255, 255, 255, .5);
}

#contacts ul {
    display: none;
    justify-content: center;
    list-style: none;
}

#contacts ul li {
    display: flex;
    list-style: none;
}

#contacts ul li a {
    border: .125rem solid transparent;
    border-radius: 1rem;
    display: flex;
    padding: .6rem;
    transition: ease-in-out .2s;
    outline: none;
}

#contacts ul li a:hover {
    transform: translateY(-5px);
}

svg {
    fill: #444444;
}

a:hover svg {
    fill: #14FFEC
}

/*---------------------FOOTER---------------------*/
footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;

}

footer a {
    padding: 1rem 1rem;
    max-width: 74rem;
    text-decoration: none;
    color: #505050;
    transition: ease-in-out .5s;
    text-align: center;
}

footer a:hover {
    color: #14FFEC;
}